@model DemoMVC.Models.Demo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        esta es una pagina con modelo
    </div>
    <div>
        @Model.Mensaje
    </div>
    <div>
        @Html.Raw(Model.mensajeHtml)
    </div>
</body>
</html>
